@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@font-face {
    src: url(../assets/Intro/IntroDemo-BlackCAPS.otf);
    font-family: 'Intro';
    font-weight: 400;
}

// Fonts: 'Roboto Slab', serif; / 'Intro'

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}